:root{
    --fundo: #d5c3ee;
    --cartao-frente: #483d8b;
    --cartao-verso: #242424;
    --destaque: rgb(255,123,0);
    --preto: #000000;
    --branco: #ffffff;
   }
   body{
       background-color: var(--fundo);
   
   }
   footer{
       position: fixed;
       bottom: 0;
       background-color: var(--preto);
       color: var(--branco);
       width: 100%;
       text-align: center;
   }